@model List<CycleModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <td>Id </td>
            <td>Titre </td>
        </tr>
    </thead>
    <tbody>
         @foreach (var cycle in Model) {
        <tr>
            <td>@cycle.id</td>
            <td>@cycle.title</td>
            <td>
                @Html.ActionLink(
                    linkText: "@cycle.title",
                    actionName: "Read",
                    controllerName: "Cycle",
                    routeValues: new
                    {
                        id = @cycle.id   
                    },
                    htmlAttributes: null
                )        
               </td>
        </tr>
         }

        @Html.ActionLink(
                    linkText: "Exporter",
                    actionName: "ExportToExcel",
                    controllerName: "Tutor",
                    routeValues: new
                    {
                    },
                    htmlAttributes: null
                ) 
    </tbody>
</table>

