@model CycleModel

@{
    ViewBag.Title = "Read";
}

<h2>@Model.title</h2>

Pour le cycle : <b>@Model.title</b>, voici l'ensemble des niveaux : <br />
@foreach (var level in Model.levels)
{
    @Html.ActionLink(
        linkText:  @level.title,
        actionName: "Read",
        controllerName: "Level",
        routeValues: new
        {
            id = @level.id   
        },
        htmlAttributes : new {
            target="_blank"
        }
    );
}