@model PeriodModel
@{
    ViewBag.Title = "Read";
}


<h2>Periode</h2>

La période commence le <b>@Model.begin</b> et se termine le <b>@Model.end</b>
de l'année 
@Html.ActionLink(
    linkText:  ""+@Model.year,
    actionName: "Read",
    controllerName: "Year",
    routeValues: new
    {
        id = @Model.yearId   
    },
    htmlAttributes : new {
        target="_blank"
    }
).

<br />

Les évaluations sur cette période :
<table>
@foreach (var eval in Model.evaluations)
{
    <tr><td>@Html.ActionLink(
    linkText: @eval.classroomTitle + " " + @eval.date,
    actionName: "Read",
    controllerName: "Evaluation",
    routeValues: new
    {
        id = @eval.id
    },
    htmlAttributes: new
    {
        target = "_blank"
    }
)
        </td></tr>
}
    </table>