@model List<ResultModel>

@{
    ViewBag.Title = "Index";
}

<h2>Ensemble des résultats</h2>

<table>
    <thead>
        <tr>
            <td>Voir</td>
            <td>Evaluation </td>
            <td>Prenom eleve </td>
            <td>Note </td>
        </tr>
    </thead>
    <tbody>
         @foreach (var result in Model)
         {
        <tr>
            <td>
                 @Html.ActionLink(
                    linkText:  "voir",
                    actionName: "Read",
                    controllerName: "Result",
                    routeValues: new
                    {
                        id = @result.id   
                    },
                    htmlAttributes : null
                )
            </td>
            <td>@Html.ActionLink(
                    linkText: "Voir l'évaluation",
                    actionName: "Read",
                    controllerName: "Evaluation",
                    routeValues: new
                    {
                        id = @result.evaluationId
                    },
                    htmlAttributes: new
                    {
                        target = "_blank"
                    }
                )</td>
            <td>
                @Html.ActionLink(
                    linkText: @result.pupilFirstName + " "+ @result.pupilLastName ,
                    actionName: "Read",
                    controllerName: "Pupil",
                    routeValues: new
                    {
                        id = @result.pupilId
                    },
                    htmlAttributes: new
                    {
                        target = "_blank"
                    })
            </td>
            <td>@result.note</td>
        </tr>
         }
    </tbody>
</table>
