@model List<UserModel>

@{
    ViewBag.Title = "Index";
}

<h2>Ensemble des utilisateurs</h2>

<table>
    <thead>
        <tr>
            <td>Opération</td>
            <td>Prénom </td>
            <td>Nom </td>
            <td>UserName</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
         @foreach (var user in Model) {
        <tr>
            <td>@Html.ActionLink(
                    linkText:  "Voir",
                    actionName: "Read",
                    controllerName: "User",
                    routeValues: new
                    {
                        id = @user.id   
                    },
                    htmlAttributes : null
                )</td>
            <td>@user.firstName</td>
            <td>@user.lastName</td>
            <td>@user.userName</td>
            <td>@user.mail</td>
        </tr>
         }
    </tbody>
</table>
