@model List<EvaluationModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink(
linkText: "Ajouter une évaluation",
actionName: "Create",
controllerName: "Evaluation",
routeValues: null,
htmlAttributes: null
)

<table>
    <thead>
        <tr>
            <td>Voir</td>
            <td>Classe </td>
            <td>Utilisateur </td>
            <td>Debut periode </td>
            <td>Fin periode </td>
            <td>Date </td>
            <td>Points </td>
            <td>Ajouter</td>
        </tr>
    </thead>
    <tbody>
         @foreach (var evaluation in Model)
         {
        <tr>
            <td>
                @Html.ActionLink(
                linkText: "Voir",
                actionName: "Read",
                controllerName: "Evaluation",
                routeValues: new
                {
                id = @evaluation.id
                },
                htmlAttributes: null
                )
            </td>
            <td>
                @Html.ActionLink(
                linkText: @evaluation.classroomTitle,
                actionName: "Read",
                controllerName: "Classroom",
                routeValues: new
                {
                id = @evaluation.idClassroom
                },
                htmlAttributes: new
                {
                target = "_blank",
                }
                )
            </td>
            <td>@Html.ActionLink(
                linkText: @evaluation.userName,
                actionName: "Read",
                controllerName: "User",
                routeValues: new
                {
                id = @evaluation.idUser
                },
                htmlAttributes: new
                {
                target = "_blank",
                }
                )</td>
            <td>@evaluation.periodBegin</td>
            <td>@evaluation.periodEnd</td>
            <td>@evaluation.date</td>
            <td>@evaluation.totalPoint</td>
            <td>@Html.ActionLink(
                linkText: "Ajouter des résultats",
                actionName: "AddResults",
                controllerName: "Evaluation",
                routeValues: new
                {
                id = @evaluation.id
                },
                htmlAttributes: new
                {
                target = "_blank",
                }
                )
            </td>
        </tr>
         }
    </tbody>
</table>
