@model EvaluationModel

@{
    ViewBag.Title = "Read";
}

<h2>Evaluation</h2>


<br />
Evaluation sur la période du  : 
@Html.ActionLink(
    linkText:  @Model.periodBegin + " au " + @Model.periodEnd,
    actionName: "Read",
    controllerName: "Period",
    routeValues: new
    {
        id = @Model.idPeriod  
    },
    htmlAttributes : new {
        target="_blank"
    }
)

<br />
Créé par : 
@Html.ActionLink(
    linkText:  @Model.userName,
    actionName: "Read",
    controllerName: "User",
    routeValues: new
    {
        id = @Model.idUser
    },
    htmlAttributes : new {
        target="_blank"
    }
)

<br />

Pour la classe : @Html.ActionLink(
    linkText:  @Model.classroomTitle,
    actionName: "Read",
    controllerName: "Classroom",
    routeValues: new
    {
        id = @Model.idClassroom  
    },
    htmlAttributes : new {
        target="_blank"
    }
);


<br />

Le, @Model.date, noté sur : @Model.totalPoint
<br />
Les résultats :
<table>
    <thead>
        <tr><td>Nom - Note</td></tr>
    </thead>
    <tbody>
        
        @Html.ActionLink(
                linkText: "Ajouter des résultats",
                actionName: "AddResults",
                controllerName: "Evaluation",
                routeValues: new
                {
                id = @Model.id
                },
                htmlAttributes: null
                )

@foreach (var res in Model.resultats)
{
    <tr><td>
    @Html.ActionLink(
    linkText: @res.pupilFirstName + " " + @res.pupilLastName + " : " + @res.note + "/" + @Model.totalPoint,
    actionName: "Read",
    controllerName: "Result",
    routeValues: new
    {
        id = @res.id
    },
    htmlAttributes: new
    {
        target = "_blank"
    }
    
)

        </td></tr>
}
        </tbody>
</table>