@model List<PupilModel>

@{
    ViewBag.Title = "Index";
}

<h2>Ensemble des élèves</h2>

@Html.ActionLink(
                    linkText:  "Ajouter un élève",
                    actionName: "Create",
                    controllerName: "Pupil",
                    routeValues: null,
                    htmlAttributes : null
                )

@Html.ActionLink(
                    linkText:  "Exporter sous format Excel",
                    actionName: "ExportToExcel",
                    controllerName: "Pupil",
                    routeValues: null,
                    htmlAttributes : null
                )



<table>
    <thead>
        <tr>
            <td>Prénom Nom </td>
            <td>Sexe </td>
            <td>Anniversaire</td>
            <td>Etat</td>
            <td>Tuteur</td>
            <td>Classe</td>
            <td>Niveau</td>
            <td>Editer</td>
        </tr>
    </thead>
    <tbody>
         @foreach (var pupil in Model) {
        <tr>
            <td> @Html.ActionLink(
                    linkText:  @pupil.firstName +" "+ @pupil.lastName,
                    actionName: "Read",
                    controllerName: "Pupil",
                    routeValues: new
                    {
                        id = @pupil.id   
                    },
                    htmlAttributes : null
                )
            </td>
            @if (pupil.sex == 1)
            {
                <td>M</td>
            }
            else
            {
                <td>F</td>
            }
            
            <td>@pupil.birthdayDate.ToShortDateString()</td>
            <td>@pupil.state</td>
            <td>@Html.ActionLink(
                    linkText: @pupil.tutorLastName,
                    actionName: "Read",
                    controllerName: "Tutor",
                    routeValues: new
                    {
                        id = @pupil.tutorId   
                    },
                    htmlAttributes: new
                    {
                        target="_blank"
                    }
                )</td>
            <td>@Html.ActionLink(
                    linkText: @pupil.classroomTitle,
                    actionName: "Read",
                    controllerName: "Classroom",
                    routeValues: new
                    {
                        id = @pupil.classroomId  
                    },
                    htmlAttributes: new
                    {
                        target="_blank"
                    }
                )
                </td>
            <td>@pupil.levelTitle</td>
            <td> @Html.ActionLink(
                    linkText: "Editer",
                    actionName: "Edit",
                    controllerName: "Pupil",
                    routeValues: new
                    {
                        id = @pupil.id
                    },
                    htmlAttributes: null
                )
            </td>
        </tr>
         }
    </tbody>
</table>
