@model PupilModel

@{
    ViewBag.Title = "Read";
}

<h2>@Model.firstName @Model.lastName</h2>

<div>
Il est né le : @Model.birthdayDate.ToShortDateString() <br />

Classe actuelle : 
@Html.ActionLink(
        linkText:  @Model.classroomTitle,
        actionName: "Read",
        controllerName: "Classroom",
        routeValues: new
        {
            id = @Model.classroomId   
        },
        htmlAttributes : new {
            target="_blank"
        }
    ),

niveau : 
@Html.ActionLink(
        linkText:  @Model.levelTitle,
        actionName: "Read",
        controllerName: "Level",
        routeValues: new
        {
            id = @Model.levelId   
        },
        htmlAttributes : new {
            target="_blank"
        }
    )

<br />

Tuteur de l'élève : 
@Html.ActionLink(
        linkText:  @Model.tutorLastName,
        actionName: "Read",
        controllerName: "Tutor",
        routeValues: new
        {
            id = @Model.tutorId   
        },
        htmlAttributes : new {
            target="_blank"
        }
    )
<br />


</div>
Voici l'ensemble de ses résultats : 
<table>
@foreach (var eval in Model.results)
{
    <tr><td>
    @Html.ActionLink(
        linkText:  @eval.note.ToString() + "/" +@eval.totalNote.ToString(),
        actionName: "Read",
        controllerName: "Result",
        routeValues: new
        {
            id = @eval.id   
        },
        htmlAttributes : new {
            target="_blank"
        }
    )</td></tr>
}
    </table>