@model List<EstablishmentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <td>Id </td>
            <td>Nom </td>
            <td>Adresse </td>
            <td>Code Postal </td>
            <td>Ville</td>
            <td>Utilisateur</td>
            <td>Academie</td>
        </tr>
    </thead>
    <tbody>
         @foreach (var establishment in Model)
         {
        <tr>
            <td>@establishment.id</td>
            <td>@establishment.name</td>
            <td>@establishment.address</td>
            <td>@establishment.postCode</td>
            <td>@establishment.town</td>
            <td>@establishment.userName</td>
            <td>@establishment.academyName</td>
        </tr>
         }
    </tbody>
</table>
