@model List<EstablishmentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Ensemble des établissements</h2>

<div>
    @using (Ajax.BeginForm("Search", "Establishment",
        new AjaxOptions
        {
            UpdateTargetId = "establishments",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
        }, new { @class = "form-group" }))
    {
        <div class="input-group">
            <input type="text" name="recherche" class="form-control" placeholder="Recherche..."/>
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    }
</div>
<div id="establishments">

 @Html.ActionLink(
                    linkText:  "Ajouter un établissement",
                    actionName: "Create",
                    controllerName: "Establishment",
                    routeValues: null,
                    htmlAttributes : null
                )

<table>
    <thead>
        <tr>
            <td>Nom </td>
            <td>Adresse </td>
            <td>Code Postal </td>
            <td>Ville</td>
            <td>Utilisateur</td>
            <td>Academie</td>
            <td>Editer</td>
        </tr>
    </thead>
    <tbody>
         @foreach (var establishment in Model)
         {
        <tr>
            <td> @Html.ActionLink(
                    linkText:  @establishment.name,
                    actionName: "Read",
                    controllerName: "Establishment",
                    routeValues: new
                    {
                        id = @establishment.id   
                    },
                    htmlAttributes : null
                )
            </td>
            <td>@establishment.address</td>
            <td>@establishment.postCode</td>
            <td>@establishment.town</td>
            <td>@Html.ActionLink(
                    linkText:  @establishment.userName,
                    actionName: "Read",
                    controllerName: "User",
                    routeValues: new
                    {
                        id = @establishment.userId   
                    },
                    htmlAttributes : new
                {
                    target = "_blank"
                }
                )</td>
            <td>
                @Html.ActionLink(
                    linkText:  @establishment.academyName,
                    actionName: "Read",
                    controllerName: "Academy",
                    routeValues: new
                    {
                        id = @establishment.academyId   
                    },
                    htmlAttributes : new
                {
                    target = "_blank"
                }
                )
            </td>
            <td> @Html.ActionLink(
                    linkText:  "Editer",
                    actionName: "Edit",
                    controllerName: "Establishment",
                    routeValues: new
                    {
                        id = @establishment.id   
                    },
                    htmlAttributes : null
                );
            </td>
        </tr>
         }
    </tbody>
</table>
</div>