@model List<EstablishmentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <td>Id </td>
            <td>Nom </td>
            <td>Adresse </td>
            <td>Code Postal </td>
            <td>Ville</td>
            <td>Utilisateur</td>
            <td>Academie</td>
            <td>Editer</td>
        </tr>
    </thead>
    <tbody>
         @foreach (var establishment in Model)
         {
        <tr>
            <td>@establishment.id</td>
            <td> @Html.ActionLink(
                    linkText:  @establishment.name,
                    actionName: "Read",
                    controllerName: "Establishment",
                    routeValues: new
                    {
                        id = @establishment.id   
                    },
                    htmlAttributes : null
                );
            </td>
            <td>@establishment.address</td>
            <td>@establishment.postCode</td>
            <td>@establishment.town</td>
            <td>@establishment.userName</td>
            <td>@establishment.academyName</td>
            <td> @Html.ActionLink(
                    linkText:  "Editer",
                    actionName: "Edit",
                    controllerName: "Establishment",
                    routeValues: new
                    {
                        id = @establishment.id   
                    },
                    htmlAttributes : null
                );
            </td>
        </tr>
         }
    </tbody>
</table>
