@model List<LevelModel>

@{
    ViewBag.Title = "Index";
}

<h2>Différents niveaux scolaires associés à leurs cycles</h2>

<table>
    <thead>
        <tr>
            <td>Titre </td>
            <td>Cycle </td>
        </tr>
    </thead>
    <tbody>
         @foreach (var level in Model) {
        <tr>
            <td>@Html.ActionLink(
                    linkText:  @level.title,
                    actionName: "Read",
                    controllerName: "Level",
                    routeValues: new
                    {
                        id = @level.id   
                    },
                    htmlAttributes : null
                )</td>
            <td>@Html.ActionLink(
                    linkText:  @level.nomCycle,
                    actionName: "Read",
                    controllerName: "Cycle",
                    routeValues: new
                    {
                        id = @level.idCycle   
                    },
                    htmlAttributes : null
                )</td>
        </tr>
         }
    </tbody>
</table>

