@model LevelModel

@{
    ViewBag.Title = "Index";
}

<h2>Différents niveaux scolaires associés à leurs cycles</h2>
<h3>@Model.title</h3>
<table>
    <thead>
        <tr>
            <td>Titre </td>
            <td>Cycle </td>
            <td>
                 @Html.ActionLink(
                    linkText: "Créer un nouvel élève",
                    actionName: "Create",
                    controllerName: "Pupil",
                    routeValues: new
                    {
                        levelId = Model.id 
                    },
                    htmlAttributes: new
                    {
                        target = "_blank",
                    }
                )
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var pupil in Model.pupils) {
        <tr>
            <td> @Html.ActionLink(
                    linkText:  @pupil.firstName +" "+ @pupil.lastName,
                    actionName: "Read",
                    controllerName: "Pupil",
                    routeValues: new
                    {
                        id = @pupil.id   
                    },
                    htmlAttributes : null
                )
            </td>
            @if (pupil.sex == 1)
            {
                <td>M</td>
            }
            else
            {
                <td>F</td>
            }
            
            <td>@pupil.birthdayDate.ToShortDateString()</td>
            <td>@pupil.state</td>
            <td>@Html.ActionLink(
                    linkText: @pupil.classroomTitle,
                    actionName: "Read",
                    controllerName: "Classroom",
                    routeValues: new
                    {
                        id = @pupil.classroomId  
                    },
                    htmlAttributes: new
                    {
                        target="_blank"
                    }
                )
                </td>
            <td>@pupil.levelTitle</td>
            <td> @Html.ActionLink(
                    linkText: "Editer",
                    actionName: "Edit",
                    controllerName: "Pupil",
                    routeValues: new
                    {
                        id = @pupil.id
                    },
                    htmlAttributes: null
                )
            </td>
        </tr>
         }
    </tbody>
</table>

