@model List<ClassroomModel>

@{
    ViewBag.Title = "Index";
}

<h2>Ensemble des classes</h2>

<div>
    @using (Ajax.BeginForm("Search", "Classroom",
        new AjaxOptions
        {
            UpdateTargetId = "classrooms",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
        }, new { @class = "form-group" }))
    {
        <div class="input-group">
            <input type="text" name="recherche" class="form-control" placeholder="Recherche..."/>
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    }
</div>
<div id="classrooms">
<p>@Html.ActionLink(
                linkText: "Créer une classe",
                actionName: "Create",
                controllerName: "Classroom",
                routeValues: null,
                htmlAttributes: null)</p>

<table>
    <thead>
        <tr>
            <td>Titre </td>
            <td>Année </td>
            <td>Etablissement </td>
            <td>Utilisateur</td>
            <td>Edition</td>
        </tr>
    </thead>
    <tbody>
         @foreach (var classroom in Model) {
        <tr>
            <td>
                @Html.ActionLink(
                linkText: @classroom.title,
                actionName: "Read",
                controllerName: "Classroom",
                routeValues: new
                {
                    id = @classroom.id
                },
                htmlAttributes: new
                {
                    target = "_blank"
                }
            ) 
            </td>
            <td>@Html.ActionLink(
                linkText: @classroom.year + "",
                actionName: "Read",
                controllerName: "Year",
                routeValues: new
                {
                    id = @classroom.yearId
                },
                htmlAttributes: new
                {
                    target = "_blank"
                }
            )</td>
            <td>
                @Html.ActionLink(
                linkText: @classroom.establishmentName,
                actionName: "Read",
                controllerName: "Establishment",
                routeValues: new
                {
                    id = @classroom.establishmentId
                },
                htmlAttributes: new
                {
                    target = "_blank"
                }
            )

            </td>
            <td> @Html.ActionLink(
                linkText: @classroom.userName,
                actionName: "Read",
                controllerName: "User",
                routeValues: new
                {
                    id = @classroom.userId
                },
                htmlAttributes: new
                {
                    target = "_blank"
                }
            )</td>
            <td>
                @Html.ActionLink(
                linkText: "Editer",
                actionName: "Edit",
                controllerName: "Classroom",
                routeValues: new
                {
                    id = @classroom.id
                },
                htmlAttributes: null
            )
            </td>
        </tr>
         }
    </tbody>
</table>
</div>
