@model ClassroomModel

@{
    ViewBag.Title = "Read";
}

<h2>Classe</h2>

<p>@Html.LabelFor(s => s.title) : @Model.title</p>
<p>@Html.LabelFor(s => s.establishmentName) : @Model.establishmentName</p>
<p>@Html.LabelFor(s => s.userName)  : @Model.userName</p>

@Html.LabelFor(s => s.evaluations)
<table>
    <tbody>
        <tr>    
        @foreach (var eval in Model.evaluations)
        {
            <td>
                @Html.ActionLink(
                    linkText:  @eval.date.ToShortDateString(),
                    actionName: "Read",
                    controllerName: "Evaluation",
                    routeValues: new
                    {
                        id = @eval.id   
                    },
                    htmlAttributes : new {
                        target="_blank"
                    }
                )    
            </td>
        }
        </tr>
    </tbody>
</table>

@Html.LabelFor(s => s.pupils)
<table>
    <tbody>
        <tr> 
        @foreach (var pupil in Model.pupils)
        {
            <td>
                @Html.ActionLink(
                    linkText:  @pupil.firstName + " " + @pupil.lastName,
                    actionName: "Read",
                    controllerName: "Pupil",
                    routeValues: new
                    {
                        id = @pupil.id   
                    },
                    htmlAttributes : new {
                        target="_blank"
                    }
                );
            </td>
        }
        </tr>
    </tbody>
</table>
