@model ClassroomModel

@{
    ViewBag.Title = "Read";
}

<h2>Classe</h2>

    <p>Nom de la classe : @Model.title</p>
    <p>Nom de l'etablissement : @Model.establishmentName</p>
    <p>Nom de l'utilisateur : @Model.userName</p>

    Liste des evaluations
    <table>
    <tbody>
        <tr>    
@foreach (var eval in Model.evaluations)
{
    <td>
    @Html.ActionLink(
        linkText:  @eval.date.ToShortDateString(),
        actionName: "Read",
        controllerName: "Evaluation",
        routeValues: new
        {
            id = @eval.id   
        },
        htmlAttributes : new {
            target="_blank"
        }
    )
    
        </td>
}
      </tr></tbody></table>

Liste des élèves :
<table>
    <tr> 
@foreach (var pupil in Model.pupils)
{
    @Html.ActionLink(
        linkText:  @pupil.firstName + " " + @pupil.lastName,
        actionName: "Read",
        controllerName: "Pupil",
        routeValues: new
        {
            id = @pupil.id   
        },
        htmlAttributes : new {
            target="_blank"
        }
    );
}

</tr></table>
