@model YearModel

@{
    ViewBag.Title = "Read";
}

<h2>@Model.year</h2>


@Html.LabelFor(s => s.periods)
<br />
@foreach (var period in Model.periods)
{
    @Html.ActionLink(
        linkText:  @period.begin + " ---" + @period.end,
        actionName: "Read",
        controllerName: "Period",
        routeValues: new
        {
            id = @period.id   
        },
        htmlAttributes : new {
            target="_blank"
        }
    );
}

<br />

@Html.LabelFor(s => s.classrooms)
<br />
@foreach (var classroom in Model.classrooms)
{
    @Html.ActionLink(
        linkText:  @classroom.title,
        actionName: "Read",
        controllerName: "Classroom",
        routeValues: new
        {
            id = @classroom.id   
        },
        htmlAttributes : new {
            target="_blank"
        }
    ) 
}