@model List<AcademyModel>

@{
    ViewBag.Title = "Index";
}

<h2>Ensemble des académies</h2>


<div>
    @using (Ajax.BeginForm("Search", "Academy",
        new AjaxOptions
        {
            UpdateTargetId = "academies",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
        }, new { @class = "form-group" }))
    {
        <div class="input-group">
            <input type="text" name="recherche" class="form-control" placeholder="Recherche..."/>
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    }
</div>
<div id="academies">
    <table>
    <thead>
        <tr>
            <td>Nom </td>
            <td>Operation</td>
        </tr>
    </thead>
    <tbody>
         @foreach (var academy in Model)
         {
        <tr>
            <td> @Html.ActionLink(
                    linkText:  @academy.name,
                    actionName: "Read",
                    controllerName: "Academy",
                    routeValues: new
                    {
                        id = @academy.id   
                    },
                    htmlAttributes : null
                )
              </td>

              <td> @Html.ActionLink(
                    linkText:  "Editer",
                    actionName: "Edit",
                    controllerName: "Academy",
                    routeValues: new
                    {
                        id = @academy.id   
                    },
                    htmlAttributes : null
                )
              </td>
        </tr>
         }
    </tbody>
</table>
</div>