@model AcademyModel

@{
    ViewBag.Title = "Read";
}

<h2>Académie de @Model.name</h2>

                @Html.ActionLink(
                    linkText: "Créer un nouvel établissement",
                    actionName: "Create",
                    controllerName: "Establishment",
                    routeValues: new
                    {
                        academyId = Model.id
                    },
                    htmlAttributes: new
                    {
                        target = "_blank",
                    }
                )


<table>
    <thead>
        @if (Model.establishments.Count != 0)
        {
        <tr>
            <td>@Html.LabelFor(s => s.establishments[0].town)</td>
            <td>@Html.LabelFor(s => s.establishments[0].name)</td>
            
        </tr>
        }
    </thead>
    <tbody>
        @foreach (var x in Model.establishments) 
        {
        <tr>
            <td>@x.town</td>
            <td>@Html.ActionLink(
                    linkText: @x.name,
                    actionName: "Read",
                    controllerName: "Establishment",
                    routeValues: new
                    {
                        id = @x.id
                    },
                    htmlAttributes: new
                    {
                        target = "_blank"
                    }
                )        
            </td>
        </tr>
        }
    </tbody>
</table>